[user]
  name = _NAME_
  email = _EMAIL_
  helper = _HELPER_
[hub]
  protocol = https
[core]
  editor = nano
  excludesfile = !$HOME/.gitignore
  autocrlf = input
[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%an, %cr)%Creset' --abbrev-commit --date=relative
  lga = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%an, %cr)%Creset' --abbrev-commit --date=relative
  hist = !sh -c "git log --graph --pretty=format:\"%C(yellow)%h%Creset%C(blue)%d%Creset %C(white bold)%s%Creset %C(white dim)(by %an %ar)%Creset\" --all"
  co = checkout
  promote = !$DOTFILES/bin/git-promote
  wtf     = !$DOTFILES/bin/git-wtf
  rank-contributers = !$DOTFILES/bin/git-rank-contributers
  count   = !git shortlog -sn
  assume   = update-index --assume-unchanged
  unassume = update-index --no-assume-unchanged
  assumed  = "!git ls-files -v | grep ^h | cut -c 3-"
  yolo = !sh -c 'git commit -am "`curl -s http://whatthecommit.com/index.txt`"'
[help]
  autocorrect = 1
[web]
  browser = chrome
[browser "chrome"]
  cmd = open -a "Google Chrome.app"
[push]
  default = simple
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f
